body {
  min-height: 100vh;

  /* background: #33FFCC; */
}
.container {
  min-height: 100vh;
  position: relative;
}
section {
  background: white;
  border-radius: 7px;
}
.drawing-board {
  width: 100%;
  height: 100vh;
}
.tool-board {
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: calc(
    100vh - 100px
  ); /* Centered vertically using 50% of viewport height minus 50px */
}
.row {
  display: flex;
  justify-content: space-around;
}
.tool-wrapper {
  position: relative;
  /* display: flex;
  justify-content: center; */
}
canvas {
  width: 100%;
  height: 100%;
}
.options {
  display: flex;
  gap: 25px;
  list-style: none;
  align-items: center;
  background-color: rgba(223, 219, 219, 0.344);
  border: 1px solid rgba(223, 219, 219, 0.344);
  box-shadow: 10px 10px 17px -7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 17px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 17px -7px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 8px 12px;
}
.options .option {
  cursor: pointer;
}
.options .option:nth-child(1):hover {
  border: 1px solid #d8dada;
  border-radius: 6px;
  background-color: #d8dada;
}
.options .option:nth-child(2):hover {
  border: 1px solid #d8dada;
  border-radius: 6px;
  padding: 4px;
  background-color: #d8dada;
}
.options .option:nth-child(3):hover {
  border: 1px solid #d8dada;
  border-radius: 6px;
  padding: 4px;
  background-color: #d8dada;
}
#brush {
  padding: 0px !important;
}
.options .active {
  border: 1px solid #d8dada;
  border-radius: 6px;
  padding: 4px;
  background-color: #d8dada;
}

.buttons {
  position: absolute;
  bottom: calc(100vh - 170px);
  left: calc(100% - 150px);
}
.buttons button {
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  padding: 11px 0;
  font-size: 0.9rem;
  cursor: pointer;
  margin-bottom: 13px;
  background: none;
  border-radius: 5px;
}
.buttons .clear-canvas {
  color: #6c757d;
  border: 1px solid #6c757d;
}
.buttons .save-img {
  color: #4a98f7;
  border: 1px solid #4a98f7;
}
.clear-canvas:hover {
  color: #fff;
  background: #6c757d;
}
.save-img:hover {
  color: #fff;
  background: #4a98f7;
}
#color-picker {
  opacity: 0;
  cursor: pointer;
}
.colors .option {
  height: 18px;
  width: 18px;
  background-color: red;
  border-radius: 100%;
  margin-top: 3px;
  position: relative;
}
.color-picker {
  background-color: black;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
}
.menu-icon {
  position: absolute;
  bottom: calc(100vh - 40px);
  left: calc(100% - 50px);
  cursor: pointer;
}
.hidden-btn {
  display: none;
}
.shapes-options {
  position: absolute;
  background-color: #d8dada;
  border-radius: 8px;
  border: 1px solid #d8dada;
  bottom: calc(100vh - 650px);
  right: calc(100% - 240px);
}
.shapes-lists {
  list-style: none;
  margin: 0px;
  cursor: pointer;
  box-shadow: none!important;
  display: flex;
  flex-direction: column;

  gap: 8px;
}
.shapes-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
#range{
  display: flex;
  flex-direction: column-reverse;
  gap: 6px;
}
#fill-color {
  display: flex;
  align-content: center;
  justify-content: start;
  width: 100%;
}
.fill-container {
  display: flex;
  width: 100%;
  justify-content: start;
}
/* .tool-board .row {
  margin-bottom: 20px;
}
.row .options {
  list-style: none;
  margin: 10px 0 0 5px;
}
.row .options .option {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 10px;
} */
/* .option :where(span, label) {
  color: #5a6168;
  cursor: pointer;
  padding: 10px;
}
.option #fill-color {
  cursor: pointer;
  height: 14px;
  width: 14px;
}
#fill-color:checked ~ label {
  color: #4a98f7;
}
.option:is(:hover, .active) img {
  filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(90deg)
    brightness(100%) contrast(100%);
}
.option:is(:hover, .active) :where(span, label) {
  color: #4a98f7;
}
.option #slide-range {
  height: 4px;
  width: 100%;
  margin-top: 20px;
}
.colors .option {
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 100%;
  margin-top: 3px;
  position: relative;
}
.colors .option.selected::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 12px;
  width: 12px;
  background-color: inherit;
  border-radius: inherit;
  border: 2px solid white;
  transform: translate(-50%, -50%);
}
.colors .option:first-child.selected::before {
  border-color: #ccc;
}
.colors .option:nth-child(1) {
  background-color: white;
  border: 1px solid black;
}
.colors .option:nth-child(2) {
  background-color: black;
  border: 1px solid black;
}
.colors .option:nth-child(3) {
  background-color: #e02020;
  border: 1px solid black;
}
.colors .option:nth-child(4) {
  background-color: #6dd400;
  border: 1px solid black;
}
.colors .option:nth-child(5) {
  background-color: #4a98f7;
  border: 1px solid black;
}
.colors .options {
  display: flex;
  justify-content: space-between;
}

#color-picker {
  opacity: 0;
  cursor: pointer;
}
.drawing-board canvas {
  width: 100%;
  height: 100%;
} */
@media screen and (max-width: 900px) {
  .container {
    flex-direction: column-reverse;
  }
  .tool-board {
    display: flex;
    width: 95%;
  }
}

/*  */
