body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to right bottom, #33FFCC, #7081FF)
  /* background: #33FFCC; */
}
.container {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 8px;
  max-width: 1025px;
}
section {
  background: white;
  border-radius: 7px;
}
.drawing-board {
  flex: 1;
}
.tool-board {
  width: 210px;
  padding: 15px 22px 0;
}
.tool-board .row {
  margin-bottom: 20px;
}
.row .options {
  list-style: none;
  margin: 10px 0 0 5px;
}
.row .options .option {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 10px;
}
.option :where(span, label) {
  color: #5a6168;
  cursor: pointer;
  padding: 10px;
}
.option #fill-color {
  cursor: pointer;
  height: 14px;
  width: 14px;
}
#fill-color:checked ~ label {
  color: #4a98f7;
}
.option:is(:hover, .active) img {
  filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(90deg)
    brightness(100%) contrast(100%);
}
.option:is(:hover, .active) :where(span, label) {
  color: #4a98f7;
}
.option #slide-range {
  height: 4px;
  width: 100%;
  margin-top: 20px;
}
.colors .option {
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 100%;
  margin-top: 3px;
  position: relative;
}
.colors .option.selected::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 12px;
  width: 12px;
  background-color: inherit;
  border-radius: inherit;
  border: 2px solid white;
  transform: translate(-50%, -50%);
}
.colors .option:first-child.selected::before {
  border-color: #ccc;
}
.colors .option:nth-child(1) {
  background-color: white;
  border: 1px solid black;
}
.colors .option:nth-child(2) {
  background-color: black;
  border: 1px solid black;
}
.colors .option:nth-child(3) {
  background-color: #e02020;
  border: 1px solid black;
}
.colors .option:nth-child(4) {
  background-color: #6dd400;
  border: 1px solid black;
}
.colors .option:nth-child(5) {
  background-color: #4a98f7;
  border: 1px solid black;
}
.colors .options {
  display: flex;
  justify-content: space-between;
}
.buttons button {
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  padding: 11px 0;
  font-size: 0.9rem;
  margin-bottom: 13px;
  background: none;
  border-radius: 5px;
}
.buttons .clear-canvas {
  color: #6c757d;
  border: 1px solid #6c757d;
}
.buttons .save-img {
  color: #4a98f7;
  border: 1px solid #4a98f7;
}
.clear-canvas:hover {
  color: #fff;
  background: #6c757d;
}
.save-img:hover {
  color: #fff;
  background: #4a98f7;
}
#color-picker {
  opacity: 0;
  cursor: pointer;
}
.drawing-board canvas {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 900px) {
  .container{
    flex-direction: column-reverse;
  }
  .tool-board{
    display: flex;
    width: 95%;
  }

}

/*  */