body {
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  min-height: 95vh;
  position: relative;
}
section {
  border-radius: 7px;
}
.drawing-board {
  width: 100%;
  height: 100vh;
}
.tool-board {
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: calc(
    100vh - 100px
  );
}
.row {
  display: flex;
  justify-content: space-around;
}
.tool-wrapper {
  position: relative;
}
canvas {
  width: inherit;
  height: 99vh;
}
.options {
  display: flex;
  align-items: center;
  gap: 25px;
  list-style: none;
  background-color: rgba(223, 219, 219, 0.344);
  box-shadow: 10px 10px 17px -7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 17px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 17px -7px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 8px 12px;
}
.options .option {
  cursor: pointer;
  border-radius: 6px;
  padding: 5px;
  transition: ease-in-out 0.4s;
}
.options .option:hover,
.options .option.active {
  background-color: #d8dada;
}
#brush {
  padding: 0px !important;
}
.options .active {
  border-radius: 6px;
  background-color: #d8dada;
}
.buttons {
  position: absolute;
  bottom: calc(100vh - 170px);
  left: calc(100% - 170px);
}
.buttons button {
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  padding: 11px 0;
  font-size: 0.9rem;
  cursor: pointer;
  margin-bottom: 13px;
  background: none;
  border-radius: 5px;
}
.buttons .clear-canvas {
  color: #6c757d;
  border: 1px solid #6c757d;
}
.buttons .save-img {
  color: #4a98f7;
  border: 1px solid #4a98f7;
}
.clear-canvas:hover {
  color: #fff;
  background: #6c757d;
}
.save-img:hover {
  color: #fff;
  background: #4a98f7;
}
#color-picker {
  opacity: 0;
  cursor: pointer;
}
.colors .option {
  height: 18px;
  width: 18px;
  background-color: red;
  border-radius: 100%;
  margin-top: 3px;
  position: relative;
}
.color-picker {
  background-color: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.menu-icon {
  position: absolute;
  bottom: calc(100vh - 50px);
  left: calc(100% - 70px);
  cursor: pointer;
}
.hidden-btn {
  display: none;
}
.shapes-options {
  position: absolute;
  background-color: #d8dada;
  border-radius: 8px;
  border: 1px solid #d8dada;
  bottom: calc(100vh - 650px);
  right: calc(100% - 240px);
}
.shapes-lists {
  list-style: none;
  margin: 0px;
  cursor: pointer;
  box-shadow: none !important;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.shapes-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
#range {
  display: flex;
  flex-direction: column-reverse;
  gap: 6px;
}
#fill-color {
  display: flex;
  align-content: center;
  justify-content: start;
  width: 100%;
}
.fill-container {
  display: flex;
  width: 100%;
  justify-content: start;
}
@media screen and (max-width: 900px) {
  .container {
    flex-direction: column-reverse;
  }
  .tool-board {
    display: flex;
    width: 95%;
  }
}